*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 /*start-header*/ 
 .header{
    width: auto;
    height: 119px;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    position: fixed;
    z-index: 100000;
}

 /* .container{
    width: 90%;
    height: 103px;
    margin: auto;
    display: flex;
    flex-direction: row;
} */


.logo{
    width: 200px;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 10px;
}
.name{
    margin-left: 10px;
    margin-top: 25px;
}
.p1{
    font-family: 'Fredoka One', cursive;
    color: #12265A;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.p2{
    font-family: 'Fredoka One', cursive;
    color: #FA9DB7;
    font-size: 29px;
    font-weight: 700;
}
.nav-bar{
    display: flex;
    flex-direction: row;

}
.nav-item{
    width: auto;
    height: 35px;
    font-size: 17;
    font-family: 'Fredoka One', cursive;
    color:  #12265A;
    background-color: #fff;
    font-weight: 600;
    margin: 30px 30px;
    letter-spacing: 0.1rem;
    padding-top: 8px;
    


}
.nav-item:hover{
    background-color: #FFC85B;
    border-radius: 20px;
}
#first-item{
    margin-left: 180px;
}
.img{
    width: 94px;
    height: 80px;
}



.moving{
    width: 55.74px;
    height: 55.74px;
    border-radius: 50%;
    border-style: dashed;
    border-color: #FA9DB7;
    z-index: 1000000;
    position: absolute;
}
.fa-shopping-cart{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #FA9DB7;
    font-size: 25px;
    color: #ffffff;
    padding: 8px;
    position: relative;
    top: 5px;
    left: 5px;
    
}
.moving-shopping-car{
    position: relative;
    top: 25px;
    left: 80px;
}
.moving:hover{
    animation-name: x;
    animation-iteration-count:infinite ;
    animation-duration: 2.5s;
}
@keyframes x {
    100% {transform: rotate(360deg);}
  }
.demo-click{
    width: 250px;
    height: 166px;
    background-color: #fff;
    border-radius: 15px;
    padding-left: 10px;
    padding-top: 10px;
    position: absolute;
    top: 100px;
    left: 480px;

}
#demo1{
    display: none;
}
.demo1{
    width: 230px;
    height: 150px;
    padding:10px;
    border: 2px dashed #F985A5;
    border-radius: 15px;
}
.demo1-item{
    text-decoration: none;
    list-style: none;
    font-family: 'Fredoka One', cursive;
    font-size:18px ;
    margin-bottom: 20px;
    color: #223668;
    text-transform: uppercase;
    
}
.demo1-item:hover{
    background-color :#FFC85B;
}
.demo-click2{
    width: 463px;
    height: 295px;
    background-color: #fff;
    border-radius: 15px;
    padding-left: 10px;
    padding-top: 10px;
    position: absolute;
    top: 100px;
    left: 680px;

}
.demo2{
    width: 430px;
    height: 270px;
    border-radius: 15px;
    border: 2px dashed #F985A5;
    padding: 10px;



}
#demo2{
    display: none;
}
/*end-header*/





  /* start our-courses */
  .main1{
      width: 100%;
      height: 700px;
      background-color: aquamarine;
      padding-top: 50px;
      background-image: url("../img/school.jpg");
      background-size: cover;
      background-position: center;
  }

  .best{
      width: 274px;
      height: 35px;
      background-color: #79C8E8;
      border-radius: 5px;
      padding: 0 1rem;
      color: #ffffff;
      font-size: 17.6px ;
      font-family: 'Fredoka One', cursive;
    text-align: center;
    padding: 5px;
    margin-top: 150px;
    text-transform: uppercase;
    font-weight: bold;
}
#our-courses{
    font-size: 85px ;
    font-family: 'Fredoka One', cursive;
    font-weight: 600;
    text-transform: capitalize;
    color: #12265A;

}
.lorem1{
    font: 17.6px 'Muli',sans-serif;
    color: #70747F;
    letter-spacing: 0.5px;
    line-height: 30px;
}
.read-more{
    width: 180px;
    height: 53px;
    border-radius: 50px;
    border: 0px;
    background-color: #FFC85B;
    font-size: 15px ;
    font-family: 'Fredoka One', cursive;
    color: #ffffff;
    font-weight: 800;
    margin-top: 40px;
    letter-spacing: 0.5px;

}
.svg-1{
    position: relative;
    margin-top: 160px;
}
  /* end our courses */
  
  
  
  /* about kids */
.about-kids{
    width: 100%;
    height: 590px;
    background-color: #F2F6FF;
    display: flex;
    flex-direction: row;
}
.kid1{
    width: 559px;
    height: 426px;
    margin: 70px 100px;
    padding: 20px 20px;
    border: 2px #FA9DB7;
    border-radius: 20px;
    border-style: dashed;
}
.ch-img{
    width: 563px;
    height: 426px;
    border-radius: 20px;
}
.kid2{
    width: 593px;
    height: 426px;
    padding-top: 50px;
    margin-top: 100px;

}

.s1{
    width: 450px;
    height: 25px;
    background-color: #F6C9DA;
    padding: 0px 10px;

    
}
.s2{
    width: 330px;
    height: 25px;
    background-color: #F9DFAC;
    padding: 0px 10px;

}
.lorem11{
    font: 17.6px 'Muli',sans-serif;
    color: #70747F;
    letter-spacing: 0.5px;
    line-height: 30px;
}
.h{
    font-size: 46px;
    font-family: 'Fredoka One', cursive;
   color: #12265A;
    font-weight: 600;
    position: relative;
    top: -28px;
    letter-spacing: 0.2px;
}
.read-more2{
    width: 180px;
    height: 53px;
    border-radius: 50px;
    border: 0px;
    background-color: #FFC85B;
    font-size: 15px ;
    font-family: 'Fredoka One', cursive;
    color: #ffffff;
    font-weight: 800;
    margin-top: 40px;
    letter-spacing: 0.5px;
}
.s-read{
    width: 170px;
    height: 35px;
    border: 2px #ffffff;
    border-style: dashed;
    position: relative;
    top: -45px;
    left: 5px;
    padding: 5px 30px;
    border-radius: 20px;
    font-size:15px ;
    font-family: 'Fredoka One', cursive;
    font-weight: 800;
    color: #ffffff;
    
}
  /* end about kids */




  /* start entertain */
.ent-container{
    width: 1350px;
    height: 504px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.ent-flex-1{
    width: 363px;
    height: 415px;
    background-color: #FA9DB7;
    margin: 0px 32px 0px 0px;
    padding: 24px;
    border-radius:20px ;
}
.ent-img-1{
    width: 245px;
    height: 140px;
    margin-left: 50px;
    margin-top: 20px;
}
.h4-ent{
    color: #F2F6FF;
    text-align: center;
    font-size: 28px;
    margin-top: 10px;
}
.p-ent{
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    line-height: 30px;
    color: white;
}
.ent-cont{
    width: 300px;
    height: 375px;
    margin: auto;
}
.ent-cont:hover{
    border: 2px;
    border-radius: 15px;
    border-style: dashed;
    border-color: white;
}
.ent-star{
    color: white;
    font-size: 20px;
    text-align: center;
}
.ent-flex-2{
    width: 363px;
    height: 415px;
    background-color: #45B3DF;
    margin: 0px 32px 0px 0px;
    padding: 24px;
    border-radius:20px ;

}.ent-flex-3{
    width: 363px;
    height: 415px;
    background-color: #FFC85B;
    margin: 0px 32px 0px 0px;
    padding: 24px;
    border-radius:20px ;

}
  /* end entertain */

  /* start school educational */
  .main-2-school-flex{
      width: 1349px;
      height: 557px;
      text-align: center;
      }
  .s3{
    width: 450px;
    height: 25px;
    background-color: #F6C9DA;
    padding: 0px 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 40px;   
}
  .school-flex{
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
  }
  .school_item{
    width: 394px;
    height: 158px;
    margin: 0px 0px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    
  }
  .ele{
      width: 80px;
      height: 83px;
  }
  .school_content{
    margin-left: 10px;
  }
  .h-school{
    font-size: 25px ;
    font-family: 'Fredoka One', cursive;
    color: #12265A;
    font-weight: 600;
    position: relative;
    margin-bottom: 20px;
    float: left;
  }
  .p-school{
    font-size: 16px;
    font-family: 'Fredoka One', cursive;
    color: #70747F;
    letter-spacing: 0.5px;
    line-height: 30px;
    float: left;
  }
  .svg-2{
      z-index: 1000000;
  }

  /* end school educational */


  /* start counters */
.counters{
    width: 1349px;
    height: 457px;
    background-color: #88D4F2;
}

  /* end counters */




  /* start counter */
  .svg-3{
      margin-top: 50px;
  }
  .counters{
      width: 1349px;
      height: 457px;
  }
  .count{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 100px;

  }
  /* count */
  
  
  /* count */
  .count-item{
      width: 245.5px;
      height: 145px;
      background-color: #88D4F2;
      text-align: center;
  }
  .h-count-1{
      font-size: 48px;
      font-family: 'Fredoka One', cursive;
      color: #fff;
      font-weight: bold;
  


  }
  .h-count-2{
    font-size: 28px;
    font-family: 'Fredoka One', cursive;
    color: #fff;
    font-weight: 900;

  }

  
  
  
  /* end counter */



  /* start gallery */
.gallery{
    width: 1349px;
    height: 913px;
}
.gall{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 80px ;
    margin-left: 80px;
}
.gall-item{
    width: 367px;
    height: 367px;
    background-color: #FA9DB7;
    border-radius: 30px;
    margin: 1rem;
}
.gall-item:hover{
    transform: translate(10px,10px);
    transition: 0.5s;
}
.fa-search{
    font-size: 45px;
    position: absolute;
    text-align: center;
    color: #ffffff;
    margin-top: 45%;
    margin-left: 45%;
}

 .img-gall{
    width: 367px;
    height: 367px;
    border-radius: 30px;
    position: relative;
    z-index: 1000; 
}
.img-gall:hover{
    opacity: 0.5;
} 


  /* end gallery */




  /* start activities */
.act{
    width: 1349px;
    height: 878px;
}
.act-stars{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}
.stars-1{
    width: 200px;
    height: 140px;
    background: #F4F8FA;
    margin-left: 20px;
    border-radius: 30px;
    border: 2px #FA9DB7 ;
    border-style: dashed;
    text-align: center;
}
.stars-2{
    width: 170px;
    height: 140px;
    background: #F4F8FA;
    margin-left: 20px;
    border-radius: 30px;
    border: 2px #FA9DB7 ;
    border-style: dashed;
    text-align: center;

}
.stars-3{
    width: 170px;
    height: 140px;
    background: #F4F8FA;
    margin-left: 20px;
    border-radius: 30px;
    border: 2px #FA9DB7 ;
    border-style: dashed;
    text-align: center;

}
.stars-4{
    width: 170px;
    height: 140px;
    background: #F4F8FA;
    margin-left: 20px;
    border-radius: 30px;
    border: 2px #FA9DB7 ;
    border-style: dashed;
    text-align: center;

}
.stars-5{
    width: 200px;
    height: 140px;
    background: #F4F8FA;
    margin-left: 20px;
    border-radius: 30px;
    border: 2px #FA9DB7 ;
    border-style: dashed;
    text-align: center;

}
.h-stars{
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
    color: #12265A;
    text-align: center;
    font-weight: bold;

}
.act-contains{
    width: 1140px;
    height: 611px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.act-des{
    width: 529px;
    height: 500px;
    margin-left: 150px;
    margin-top: 50px;
}
.act-photo{
    width: 529px;
    height: 500px;
    background-color: #F6C9DA;
    margin-left: 100px;
    border-radius: 30px;
    margin-top: 50px;
}
.act-photo-inside{
    width: 529px;
    height: 500px;
    border-radius: 30px;

}
#photo-2{
    display: none;
}
#photo-3{
    display: none;
}
.act-h{
    font-size:  40px ;
    font-family: 'Fredoka One', cursive;
    color: #12265A;
    text-align: start;
    padding-left: -5px;
}
.p-act{
    font-size: 20px;
    line-height: 35px;
    color: #70747F;
    margin-top: 20px;
    margin-left: 10px;

}
.sub-act{
    width: 450px;
    height: 40px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

}
.sub-ele{
    width: 40px;
    height: 40px;
}
.act-sub-h{
    font-size:  25px ;
    font-weight: bold;
    font-family: 'Fredoka One', cursive;
    color: #12265A;
    margin-left: 10px;
    margin-top: 10px;

}


  /* end activities */








  /* start outdoor */
.outdoor{
    width: 100%;
    height: 1153px;
    background-color: #F2F6FF;
}
.line{
    width: 5px;
    height: 1080px;
    background-color: #FA9DB7;
    margin: auto;
}
.rect{
    width: 20px;
    height: 20px;
    background-color: #FA9DB7;
    transform: rotate(45deg);
    position: relative;
    top: -5px;
    left: -7px;
}
.rect2{
    width: 20px;
    height: 20px;
    background-color: #FA9DB7;
    transform: rotate(45deg);
    position: relative;
    top: 1060px;
    left: -7px;

}
.circle1{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 3px solid #FA9DB7;
    position: relative;
    top: 100px;
    left: -10px;
}





.circle1::before{
    content: " ";
    display: inline-block;
    background-image: url("../img/circle-children4.jpg");
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #FA9DB7;
    position: relative;
    top: -100px;
    left: 100px;
}
.circle1::after:hover{
    content: " ";
    display: inline-block;
    background-image: url("../img/circle-children4.jpg");
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px dashed #FA9DB7;
    position: relative;
    top: -100px;
    left: 100px;
}
.circle1::after{
    content: " ";
    display: inline-block;
    background-color: #FA9DB7;
    width: 80px;
    height: 5px;
    position: relative;
    top: -210px;
    left: 22px;
}
.act-div{
    width: 250px;
    margin-left: -340px;
    text-align: end;
    


}

.out-h{
    color: #79C8E8;
    font-size: 40px;
    font-weight: bold;

}
.out-h-2{
    color: #12265A;
    font-size: 28px;
}
.circle2{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 3px solid #FA9DB7;
    position: relative;
    top: 150px;
    left: -10px;
    margin-bottom: 50px;
}
.act-div-2{
    width: 250px;
    margin-left: 100px;
    text-align: start;
    margin-top: 70px;
    margin-bottom: 50px;
    
}
.circle2::before{
    content: " ";
    display: inline-block;
    background-image: url("../img/circle-children4.jpg");
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #FA9DB7;
    position: relative;
    top: -80px;
    left: -289px;
}
.circle2::after{
    content: " ";
    display: inline-block;
    background-color: #FA9DB7;
    width: 80px;
    height: 5px;
    position: relative;
    top: -210px;
    left: -84px;
}
  /* end outdoor */





  /* start contact me */
  .contact_me{
      width: 1349px;
      height: 542px;
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
  .contact-div{
      width: 556px;
      height: 457px;
      margin-top: 50px;
      margin-left: 50px;
      border-radius: 30px;
  }
  .map{
    width: 556px;
    height: 457px;
    border-radius: 30px;

  }
  .con-h{
      width: 289px;
      height: 30px;
      background-color: #FA9DB7;
      margin-top: 20px;
  }
  .con-h3{
      font-size: 48px;
      font-family: 'Fredoka One', cursive;
      color: #12265A;
      position: relative;
      top: -20px;
      font-weight: bold;

  }
  .input{
      width: 500px;
      height: 50px;
      border-radius: 30px;
      border: 0px;
      padding-left: 20px;
      font-size: 16px;
      border: 1px solid #70747F;
  }
  .t-area{
      width: 500px;
      height: 150px;
      border: 1px solid #70747F;
      font-size: 20px;
      border-radius: 30px;
      padding-left: 20px;
      padding-top: 10px;
  }
  .btn-cont{
      width: 220px;
      height: 45px;
      background-color : #FFC85B;
      border: 0px;
      color: white;
      font-size: 18px;
      font-weight: bold;
      border-radius: 30px;
  }
    /* end contact me */

    /* start media */
.media{
    width: 1349px;
    height: 158px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* media hover */
.media-cont:hover{
 
    transform: translate(0px,-20px);
    transition: 0.7s;
    cursor: pointer;

  
}

/* media hover */
.media-cont{
    width: 40px;
    height: 40px;
    background-color: blue;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 12px;
  
    
}

.footer{
    width: 1349px;
    height: 141px;
    background-color: #223668;
    text-align: center;
    color: white;
}
.footer-p{
    z-index: 10000000;
    color: white;
    
}
.svg-footer{
 position: relative;
 top: 60px;
}
/* end media */



  /* icons */
  .fa-star{
    color: #12265A;
    font-size: 50px;
    margin-top:20px;
    margin-bottom: 10px;

}
.icons{
    font-size: 25px;
    margin-top: 8px;
    margin-left: 7px;
   
    color: #ffffff;
}
.facebook{
    background-color: #456EDA;
    padding-left: 5px;
}
.twitter{
    background-color: #45B3DF;
}
.instagram{
    background-color: #F985A5;
    padding-left: 2px;
}
.youtube{
    background-color: #456EDA;
}
.behance{
    background-color: #45B3DF;
}
/* end icons */











